<div class="container">
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <legend>Login</legend>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-12 control-label" for="email">E-mail</label>
        <div class="col-md-12">
          <input id="email" name="email" type="text" placeholder="john.smith@mail.com" class="form-control input-md">
        </div>
      </div>
      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-12 control-label" for="passwordinput">Password</label>
        <div class="col-md-12">
          <input id="passwordinput" name="passwordinput" type="password" placeholder="Enter your password" class="form-control input-md" required>
        </div>
      </div>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="loginbtn"></label>
        <div class="col-md-4">
          <button id="loginbtn" name="loginbtn" class="btn btn-success">Login</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
